header {
    background-color:#ddeded;
    color: gray;
    padding: 5px;
    margin: 0;
    font-family: sans-serif;
    width: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
}

h2 a {
    color: inherit; /* a要素のテキストカラーを親要素(header)のカラーに合わせる */
}

h2 {
    margin: 10px; 
    font-size: 24px;
    font-weight: normal; /* フォントウェイトを通常に設定 */
}

.table {
    margin-bottom: 1rem;
    border-collapse: collapse;
}

.rem0p9 {
    font-size: 0.9rem;
}

.pt7 {
    padding-top: 7rem;
}

.cursor-pointer {
    cursor: pointer;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-clicked-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #dee2e6;
}

.parent {
    display: flex;
}

.editor-box {
    height: 600px;
    border: 1px solid grey
}

.display_area {
    height: 600px;
    border: 1px solid grey;
    overflow-y: scroll;
}

.text-red {
    color: red;
}

#editor-container, #preview-container, #answer-container {
    width: 45%;
    height: 600px;
    float: left;
    overflow: auto;
    padding: 0px;
    border: 1px solid grey;
    box-sizing: border-box; /* 枠線を含めたボックスサイズに設定 */
    margin: 0;
}



.justify-content-between {
   justify-content: space-between;
}

#answer-content-container {
    font-size: small;
    font-family: sans-serif;
}

#title-container {
    font-size: 24px; /* 例：h2のデフォルトのフォントサイズ */
}



